<h1>Random Results</h1>

<div>Minimum</div>
<div><%= @min %></div>
<div>Maximum</div>
<div><%= @max %></div>
<div>Random Number</div>
<div><%= @ran_num %></div>

<a href="/random/new">
  Calculate another square root
</a>
